.feature {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1rem;


    .img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        vertical-align: middle;
    }

    .title {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}