.featuresContainer {
    height: 160px;
    background-color: #0282F9;
    color: white;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: 700;
    }
}