.footerContainer {
    height: 370px;
    background-image: url('../../assets/img/footer-bg.jpg');

    .container {
        position: relative;
        z-index: 1000;
        display: flex;
        align-items: center;
        color: white;
        font-family: "Open Sans", sans-serif;

        .logoBg {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            position: absolute;
            z-index: -1;
        }

        .logoBgImg {
            width: 600px;
            height: 370px;
            object-fit: none;
        }

        .list-title {
            display: inline-block;
            padding: 10px 30px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .list {
            padding: 0 30px;
            list-style: none;
        }

        .list-item {
            color: #949494;
            font-size: 10px;
            text-transform: capitalize;
            text-decoration: none;
        }
    }

}

.footer-bg {
    position: absolute;
}